@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.navbar .taskbar {
    font-family: 'Ubuntu', sans-serif;
    background-color: darkgray;
    font-size: 40px;
}
.navbar .taskbar .homeButton {
    font-family: 'Ubuntu', sans-serif;
    background-color: darkgray;
    font-size: 40px;
}
.navbar .taskbar .aboutButton {
    font-family: 'Ubuntu', sans-serif;
    background-color: darkgray;
    font-size: 40px;
}
body {
    background-image: url("https://www.crushpixel.com/big-static14/preview4/seamless-pattern-with-christmas-candy-1654250.jpg");
}

.gamesdiv .line .leftGame {
    text-align: left;
}

.gamesdiv .line .rightGame {
    text-align: right;
}

.aboutCore .aboutp {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
}