@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');


.navbar .taskbar {
    font-family: 'Ubuntu', sans-serif;
    background-color: darkgray;
    font-size: 40px;
}
.navbar .taskbar .homeButton {
    font-family: 'Ubuntu', sans-serif;
    background-color: darkgray;
    font-size: 40px;
}
.navbar .taskbar .aboutButton {
    font-family: 'Ubuntu', sans-serif;
    background-color: darkgray;
    font-size: 40px;
}

.gamesdiv .line .leftGame {
    text-align: left;
}

.gamesdiv .line .rightGame {
    text-align: right;
}

.aboutCore .aboutp {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: tomato;
}

.cookerHeader {
    font-family: 'Rubik Puddles', cursive;
    color: white;
    text-align: center;
    font-size: 60px;
}

.cookerText {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
}

.trelloChecklist {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

.download {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
}

.modMakerHeader {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
}