@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.navbar .taskbar {
    font-family: 'Ubuntu', sans-serif;
    background-color: darkgray;
    font-size: 40px;
}
.navbar .taskbar .homeButton {
    font-family: 'Ubuntu', sans-serif;
    background-color: darkgray;
    font-size: 40px;
}
.navbar .taskbar .aboutButton {
    font-family: 'Ubuntu', sans-serif;
    background-color: darkgray;
    font-size: 40px;
}

.gamesdiv .line .leftGame {
    text-align: left;
}

.gamesdiv .line .rightGame {
    text-align: right;
}

.aboutCore .aboutp {
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
    color: tomato;
}